body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: rgb(237, 237, 237);
}

.Sidebar ul {
  padding: 0;
  list-style-type: none;
}

.Sidebar .list {
  height: auto;
  margin: 1rem;
  padding: 0.45rem;
}

.Sidebar .list .row {
  width: 100%;
  list-style-type: none;
}

.Sidebar .list .row:hover {
  cursor: pointer;
}

.Sidebar #active {
  background-color: rgb(212, 212, 212);
}